body, .layer {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.layer {
    z-index: var(--layer);
    position: absolute;
}

.sprite {
    position: absolute;
    border: 2px solid var(--border);
}

.asteroid.spinning {
    animation-name: spin-asteroid;
    animation-iteration-count: infinite;
    animation-duration: var(--duration, 4s);
    animation-timing-function: linear;
    animation-delay: 0s;
}

.blackhole {
    background-color: black;
    backdrop-filter: blur(25px);
    opacity: 0.75;
    border-radius: calc(var(--width) / 2);
}

#background {
    background-image: url('/assets/bg.png');
    background-repeat: repeat;
}

@keyframes spin-asteroid {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}